{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <h2 class="fw-semibold mb-4">Counterparties</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ customer.customer_name }}</td>
                    <td class="d-none d-md-table-cell">{{ customer.customer_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}